<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdj2022.tp07nurseryapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP07NurseryApp"
        tools:targetApi="31">
        <activity
            android:name=".FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterParentActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterSelectActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>